#jinja2: trim_blocks: True, lstrip_blocks: True
; {{ ansible_managed }}
; https://docs.ansible.com/ansible/latest/reference_appendices/config.html
{% set print = self %}
{%- macro print_value(key, value, default=None, valid_values=None) -%}
{# .... #}
{# print_value(key='{{key}}', value='{{value}}', default='{{default}}', valid_values='{{valid_values}}') #}
  {% if value is defined %}
    {% if value | bodsch.core.type == "list" and
          value | count > 0 %}
{{ key }} = {{ value | join(', ') }}
    {% endif %}
    {% if value | bodsch.core.type in ["str", "string", "bool", "int"] and
            value | string | length > 0 %}
      {% if valid_values %}
        {% if value in valid_values %}
{{ key }} = {{ value }}
        {% endif %}
      {% else %}
{{ key }} = {{ value }}
      {% endif %}
    {% endif %}
  {% endif %}
{# .... #}
{%- endmacro -%}
{% set _config = ansible_config.system %}

{% if _config.defaults is defined and
      _config.defaults | count > 0 %}
  {% set v = _config.defaults %}
[defaults]
{{ print_value('action_plugins', value=v.action_plugins) -}}
{{ print_value('action_warnings', value=v.action_warnings) -}}
{{ print_value('admin_users', value=v.admin_users) -}}
{{ print_value('allow_unsafe_lookups', value=v.allow_unsafe_lookups) -}}
{{ print_value('allow_world_readable_tmpfiles', value=v.allow_world_readable_tmpfiles) -}}
{{ print_value('ansible_managed', value=v.ansible_managed) -}}
{{ print_value('any_errors_fatal', value=v.any_errors_fatal) -}}
{{ print_value('ask_pass', value=v.ask_pass) -}}
{{ print_value('ask_vault_pass', value=v.ask_vault_pass) -}}
{{ print_value('async_dir', value=v.async_dir) -}}
{{ print_value('become_password_file', value=v.become_password_file) -}}
{{ print_value('become_plugins', value=v.become_plugins) -}}
{{ print_value('bin_ansible_callbacks', value=v.bin_ansible_callbacks) -}}
{{ print_value('cache_plugins', value=v.cache_plugins) -}}
{{ print_value('callback_format_pretty', value=v.callback_format_pretty) -}}
{{ print_value('callback_plugins', value=v.callback_plugins) -}}
{{ print_value('callback_result_format', value=v.callback_result_format, valid_values=["json","yaml"]) -}}
{{ print_value('callbacks_enabled', value=v.callbacks_enabled) -}}
{{ print_value('check_mode_markers', value=v.check_mode_markers) -}}
{{ print_value('cliconf_plugins', value=v.cliconf_plugins) -}}
{{ print_value('collections_on_ansible_version_mismatch', value=v.collections_on_ansible_version_mismatch) -}}
{{ print_value('collections_path', value=v.collections_path) -}}
{{ print_value('collections_scan_sys_path', value=v.collections_scan_sys_path) -}}
{{ print_value('common_remote_group', value=v.common_remote_group) -}}
{{ print_value('connection_password_file', value=v.connection_password_file) -}}
{{ print_value('connection_plugins', value=v.connection_plugins) -}}
{{ print_value('cow_selection', value=v.cow_selection) -}}
{{ print_value('cowpath', value=v.cowpath) -}}
{{ print_value('cowsay_enabled_stencils', value=v.cowsay_enabled_stencils) -}}
{{ print_value('debug', value=v.debug) -}}
{{ print_value('deprecation_warnings', value=v.deprecation_warnings) -}}
{{ print_value('devel_warning', value=v.devel_warning) -}}
{{ print_value('display_args_to_stdout', value=v.display_args_to_stdout) -}}
{{ print_value('display_failed_stderr', value=v.display_failed_stderr) -}}
{{ print_value('display_ok_hosts', value=v.display_ok_hosts) -}}
{{ print_value('display_skipped_hosts', value=v.display_skipped_hosts) -}}
{{ print_value('display_skipped_hosts', value=v.display_skipped_hosts) -}}
{{ print_value('doc_fragment_plugins', value=v.doc_fragment_plugins) -}}
{{ print_value('docsite_root_url', value=v.docsite_root_url) -}}
{{ print_value('duplicate_dict_key', value=v.duplicate_dict_key) -}}
{{ print_value('enable_task_debugger', value=v.enable_task_debugger) -}}
{{ print_value('error_on_missing_handler', value=v.error_on_missing_handler) -}}
{{ print_value('error_on_undefined_vars', value=v.error_on_undefined_vars) -}}
{{ print_value('executable', value=v.executable) -}}
{{ print_value('fact_caching', value=v.fact_caching) -}}
{{ print_value('fact_caching_connection', value=v.fact_caching_connection) -}}
{{ print_value('fact_caching_connection', value=v.fact_caching_connection) -}}
{{ print_value('fact_caching_prefix', value=v.fact_caching_prefix) -}}
{{ print_value('fact_caching_prefix', value=v.fact_caching_prefix) -}}
{{ print_value('fact_caching_timeout', value=v.fact_caching_timeout) -}}
{{ print_value('fact_caching_timeout', value=v.fact_caching_timeout) -}}
{{ print_value('fact_path', value=v.fact_path) -}}
{{ print_value('facts_modules', value=v.facts_modules) -}}
{{ print_value('filter_plugins', value=v.filter_plugins) -}}
{{ print_value('force_color', value=v.force_color) -}}
{{ print_value('force_handlers', value=v.force_handlers) -}}
{{ print_value('force_valid_group_names', value=v.force_valid_group_names) -}}
{{ print_value('forks', value=v.forks) -}}
{{ print_value('gather_subset', value=v.gather_subset) -}}
{{ print_value('gathering', value=v.gathering) -}}
{{ print_value('hash_behaviour', value=v.hash_behaviour, valid_values=["merge", "replace"]) -}}
{{ print_value('home', value=v.home) -}}
{{ print_value('host_key_checking', value=v.host_key_checking) -}}
{{ print_value('httpapi_plugins', value=v.httpapi_plugins) -}}
{{ print_value('inject_facts_as_vars', value=v.inject_facts_as_vars) -}}
{{ print_value('internal_poll_interval', value=v.internal_poll_interval) -}}
{{ print_value('interpreter_python', value=v.interpreter_python) -}}
{{ print_value('invalid_task_attribute_failed', value=v.invalid_task_attribute_failed) -}}
{{ print_value('inventory', value=v.inventory) -}}
{{ print_value('inventory_plugins', value=v.inventory_plugins) -}}
{{ print_value('jinja2_extensions', value=v.jinja2_extensions) -}}
{{ print_value('jinja2_native', value=v.jinja2_native) -}}
{{ print_value('jinja2_native_warning', value=v.jinja2_native_warning) -}}
{{ print_value('keep_remote_files', value=v.keep_remote_files) -}}
{{ print_value('library', value=v.library) -}}
{{ print_value('local_tmp', value=v.local_tmp) -}}
{{ print_value('localhost_warning', value=v.localhost_warning) -}}
{{ print_value('log_filter', value=v.log_filter) -}}
{{ print_value('log_path', value=v.log_path) -}}
{{ print_value('lookup_plugins', value=v.lookup_plugins) -}}
{{ print_value('max_diff_size', value=v.max_diff_size) -}}
{{ print_value('module_args', value=v.module_args) -}}
{{ print_value('module_compression', value=v.module_compression) -}}
{{ print_value('module_ignore_exts', value=v.module_ignore_exts) -}}
{{ print_value('module_name', value=v.module_name) -}}
{{ print_value('module_utils', value=v.module_utils) -}}
{{ print_value('netconf_plugins', value=v.netconf_plugins) -}}
{{ print_value('network_group_modules', value=v.network_group_modules) -}}
{{ print_value('no_log', value=v.no_log) -}}
{{ print_value('no_target_syslog', value=v.no_target_syslog) -}}
{{ print_value('nocolor', value=v.nocolor) -}}
{{ print_value('nocows', value=v.nocows) -}}
{{ print_value('null_representation', value=v.null_representation) -}}
{{ print_value('old_plugin_cache_clear', value=v.old_plugin_cache_clear) -}}
{{ print_value('playbook_dir', value=v.playbook_dir) -}}
{{ print_value('playbook_vars_root', value=v.playbook_vars_root) -}}
{{ print_value('plugin_filters_cfg', value=v.plugin_filters_cfg) -}}
{{ print_value('poll_interval', value=v.poll_interval) -}}
{{ print_value('precedence', value=v.precedence) -}}
{{ print_value('private_key_file', value=v.private_key_file) -}}
{{ print_value('private_role_vars', value=v.private_role_vars) -}}
{{ print_value('python_module_rlimit_nofile', value=v.python_module_rlimit_nofile) -}}
{{ print_value('remote_port', value=v.remote_port) -}}
{{ print_value('remote_tmp', value=v.remote_tmp) -}}
{{ print_value('remote_user', value=v.remote_user) -}}
{{ print_value('retry_files_enabled', value=v.retry_files_enabled) -}}
{{ print_value('retry_files_save_path', value=v.retry_files_save_path) -}}
{{ print_value('roles_path', value=v.roles_path) -}}
{{ print_value('run_vars_plugins', value=v.run_vars_plugins) -}}
{{ print_value('show_custom_stats', value=v.show_custom_stats) -}}
{{ print_value('show_per_host_start', value=v.show_per_host_start) -}}
{{ print_value('show_task_path_on_failure', value=v.show_task_path_on_failure) -}}
{{ print_value('stdout_callback', value=v.stdout_callback) -}}
{{ print_value('strategy', value=v.strategy) -}}
{{ print_value('strategy_plugins', value=v.strategy_plugins) -}}
{{ print_value('string_conversion_action', value=v.string_conversion_action) -}}
{{ print_value('su', value=v.su) -}}
{{ print_value('syslog_facility', value=v.syslog_facility) -}}
{{ print_value('system_tmpdirs', value=v.system_tmpdirs) -}}
{{ print_value('system_warnings', value=v.system_warnings) -}}
{{ print_value('task_debugger_ignore_errors', value=v.task_debugger_ignore_errors) -}}
{{ print_value('task_timeout', value=v.task_timeout) -}}
{{ print_value('terminal_plugins', value=v.terminal_plugins) -}}
{{ print_value('test_plugins', value=v.test_plugins) -}}
{{ print_value('timeout', value=v.timeout) -}}
{{ print_value('transport', value=v.transport) -}}
{{ print_value('use_persistent_connections', value=v.use_persistent_connections) -}}
{{ print_value('validate_action_group_metadata', value=v.validate_action_group_metadata) -}}
{{ print_value('vars_plugins', value=v.vars_plugins) -}}
{{ print_value('vars_plugins_enabled', value=v.vars_plugins_enabled) -}}
{{ print_value('vault_encrypt_identity', value=v.vault_encrypt_identity) -}}
{{ print_value('vault_id_match', value=v.vault_id_match) -}}
{{ print_value('vault_identity', value=v.vault_identity) -}}
{{ print_value('vault_identity_list', value=v.vault_identity_list) -}}
{{ print_value('vault_password_file', value=v.vault_password_file) -}}
{{ print_value('verbose_to_stderr', value=v.verbose_to_stderr) -}}
{{ print_value('verbosity', value=v.verbosity) -}}
{{ print_value('win_async_startup_timeout', value=v.win_async_startup_timeout) -}}
{{ print_value('yaml_valid_extensions', value=v.yaml_valid_extensions) -}}
{% endif %}

{% if _config.privilege_escalation is defined and
      _config.privilege_escalation | count > 0 %}
  {% set v = _config.privilege_escalation %}
[privilege_escalation]
{{ print_value('agnostic_become_prompt', value=v.agnostic_become_prompt) -}}
{{ print_value('become', value=v.become) -}}
{{ print_value('become_allow_same_user', value=v.become_allow_same_user) -}}
{{ print_value('become_ask_pass', value=v.become_ask_pass) -}}
{{ print_value('become_exe', value=v.become_exe) -}}
{{ print_value('become_flags', value=v.become_flags) -}}
{{ print_value('become_method', value=v.become_method) -}}
{{ print_value('become_user', value=v.become_user) -}}
{% endif %}

{% if _config.persistent_connection is defined and
      _config.persistent_connection | count > 0 %}
  {% set v = _config.persistent_connection %}
[persistent_connection]
{{ print_value('ansible_connection_path', value=v.ansible_connection_path) -}}
{{ print_value('command_timeout', value=v.command_timeout) -}}
{{ print_value('connect_retry_timeout', value=v.connect_retry_timeout) -}}
{{ print_value('connect_timeout', value=v.connect_timeout) -}}
{{ print_value('control_path_dir', value=v.control_path_dir) -}}
{% endif %}

{% if _config.connection is defined and
      _config.connection | count > 0 %}
  {% set v = _config.connection %}
[connection]
{{ print_value('pipelining', value=v.pipelining) -}}
{% endif %}

{% if _config.colors is defined and
      _config.colors | count > 0 %}
  {% set v = _config.colors %}
[colors]
{{ print_value('changed', value=v.changed) -}}
{{ print_value('console_prompt', value=v.console_prompt) -}}
{{ print_value('debug', value=v.debug) -}}
{{ print_value('deprecate', value=v.deprecate) -}}
{{ print_value('diff_add', value=v.diff_add) -}}
{{ print_value('diff_lines', value=v.diff_lines) -}}
{{ print_value('diff_remove', value=v.diff_remove) -}}
{{ print_value('error', value=v.error) -}}
{{ print_value('highlight', value=v.highlight) -}}
{{ print_value('ok', value=v.ok) -}}
{{ print_value('skip', value=v.skip) -}}
{{ print_value('unreachable', value=v.unreachable) -}}
{{ print_value('verbose', value=v.verbose) -}}
{{ print_value('warn', value=v.warn) -}}
{% endif %}

{% if _config.selinux is defined and
      _config.selinux | count > 0 %}
  {% set v = _config.selinux %}
[selinux]
{{ print_value('libvirt_lxc_noseclabel', value=v.libvirt_lxc_noseclabel) -}}
{{ print_value('special_context_filesystems', value=v.special_context_filesystems, valid_values=["fuse", "nfs", "vboxsf", "ramfs", "9p", "vfat"]) -}}
{% endif %}

{% if _config.diff is defined and
      _config.diff | count > 0 %}
  {% set v = _config.diff %}
[diff]
{{ print_value('always', value=v.always) -}}
{{ print_value('context', value=v.context) -}}
{% endif %}

{% if _config.galaxy is defined and
      _config.galaxy | count > 0 %}
  {% set v = _config.galaxy %}
[galaxy]
{{ print_value('cache_dir', value=v.cache_dir) -}}
{{ print_value('collection_skeleton', value=v.collection_skeleton) -}}
{{ print_value('collection_skeleton_ignore', value=v.collection_skeleton_ignore) -}}
{{ print_value('disable_gpg_verify', value=v.disable_gpg_verify) -}}
{{ print_value('display_progress', value=v.display_progress) -}}
{{ print_value('gpg_keyring', value=v.gpg_keyring) -}}
{{ print_value('ignore_certs', value=v.ignore_certs) -}}
{{ print_value('ignore_signature_status_codes', value=v.ignore_signature_status_codes) -}}
{{ print_value('required_valid_signature_count', value=v.required_valid_signature_count) -}}
{{ print_value('role_skeleton', value=v.role_skeleton) -}}
{{ print_value('role_skeleton_ignore', value=v.role_skeleton_ignore) -}}
{{ print_value('server', value=v.server) -}}
{{ print_value('server_list', value=v.server_list) -}}
{{ print_value('token_path', value=v.token_path) -}}
{% endif %}

{% if _config.inventory is defined and
      _config.inventory | count > 0 %}
  {% set v = _config.inventory %}
[inventory]
{{ print_value('any_unparsed_is_failed', value=v.any_unparsed_is_failed) -}}
{{ print_value('cache', value=v.cache) -}}
{{ print_value('cache_connection', value=v.cache_connection) -}}
{{ print_value('cache_plugin', value=v.cache_plugin) -}}
{{ print_value('cache_prefix', value=v.cache_prefix) -}}
{{ print_value('enable_plugins', value=v.enable_plugins, valid_values=["host_list", "script", "auto", "yaml", "ini", "toml"]) -}}
{{ print_value('export', value=v.export) -}}
{{ print_value('host_pattern_mismatch', value=v.host_pattern_mismatch) -}}
{{ print_value('ignore_extensions', value=v.ignore_extensions) -}}
{{ print_value('ignore_patterns', value=v.ignore_patterns) -}}
{{ print_value('inventory_unparsed_warning', value=v.inventory_unparsed_warning) -}}
{{ print_value('unparsed_is_failed', value=v.unparsed_is_failed) -}}
{% endif %}

{% if _config.netconf_connection is defined and
      _config.netconf_connection | count > 0 %}
  {% set v = _config.netconf_connection %}
[netconf_connection]
{{ print_value('ssh_config', value=v.ssh_config) -}}
{% endif %}

{% if _config.paramiko_connection is defined and
      _config.paramiko_connection | count > 0 %}
  {% set v = _config.paramiko_connection %}
[paramiko_connection]
{{ print_value('banner_timeout', value=v.banner_timeout) -}}
{{ print_value('host_key_auto_add', value=v.host_key_auto_add) -}}
{{ print_value('host_key_checking', value=v.host_key_checking) -}}
{{ print_value('look_for_keys', value=v.look_for_keys) -}}
{{ print_value('proxy_command', value=v.proxy_command) -}}
{{ print_value('pty', value=v.pty) -}}
{{ print_value('record_host_keys', value=v.record_host_keys) -}}
{{ print_value('remote_user', value=v.remote_user) -}}
{{ print_value('use_rsa_sha2_algorithms', value=v.use_rsa_sha2_algorithms) -}}
{% endif %}

{% if _config.jinja2 is defined and
      _config.jinja2 | count > 0 %}
  {% set v = _config.jinja2 %}
[jinja2]
{{ print_value('dont_type_filters', value=v.dont_type_filters, valid_values=["string", "to_json", "to_nice_json", "to_yaml", "to_nice_yaml", "ppretty", "json"]) -}}
{% endif %}

{% if _config.tags is defined and
      _config.tags | count > 0 %}
  {% set v = _config.tags %}
[tags]
{{ print_value('run', value=v.run) -}}
{{ print_value('skip', value=v.skip) -}}
{% endif %}

{% if _config.runas_become_plugin is defined and
      _config.runas_become_plugin | count > 0 %}
  {% set v = _config.runas_become_plugin %}
[runas_become_plugin]
{{ print_value('flags', value=v.flags) -}}
{{ print_value('password', value=v.password) -}}
{{ print_value('user', value=v.user) -}}
{% endif %}

{% if _config.su_become_plugin is defined and
      _config.su_become_plugin | count > 0 %}
  {% set v = _config.su_become_plugin %}
[su_become_plugin]
{{ print_value('executable', value=v.executable) -}}
{{ print_value('flags', value=v.flags) -}}
{{ print_value('localized_prompts', value=v.localized_prompts) -}}
{{ print_value('password', value=v.password) -}}
{{ print_value('user', value=v.user) -}}
{% endif %}

{% if _config.sudo_become_plugin is defined and
      _config.sudo_become_plugin | count > 0 %}
  {% set v = _config.sudo_become_plugin %}
[sudo_become_plugin]
{{ print_value('executable', value=v.executable) -}}
{{ print_value('flags', value=v.flags) -}}
{{ print_value('password', value=v.password) -}}
{{ print_value('user', value=v.user) -}}
{% endif %}

{% if _config.callback_tree is defined and
      _config.callback_tree | count > 0 %}
  {% set v = _config.callback_tree %}
[callback_tree]
{{ print_value('directory', value=v.directory) -}}
{% endif %}

{% if _config.ssh_connection is defined and
      _config.ssh_connection | count > 0 %}
  {% set v = _config.ssh_connection %}
[ssh_connection]
{{ print_value('control_path', value=v.control_path) -}}
{{ print_value('control_path_dir', value=v.control_path_dir) -}}
{{ print_value('host_key_checking', value=v.host_key_checking) -}}
{{ print_value('pipelining', value=v.pipelining) -}}
{{ print_value('pkcs11_provider', value=v.pkcs11_provider) -}}
{{ print_value('retries', value=v.retries) -}}
{{ print_value('scp_executable', value=v.scp_executable) -}}
{{ print_value('scp_extra_args', value=v.scp_extra_args) -}}
{{ print_value('scp_if_ssh', value=v.scp_if_ssh) -}}
{{ print_value('sftp_batch_mode', value=v.sftp_batch_mode) -}}
{{ print_value('sftp_executable', value=v.sftp_executable) -}}
{{ print_value('sftp_extra_args', value=v.sftp_extra_args) -}}
{{ print_value('ssh_args', value=v.ssh_args) -}}
{{ print_value('ssh_common_args', value=v.ssh_common_args) -}}
{{ print_value('ssh_executable', value=v.ssh_executable) -}}
{{ print_value('ssh_extra_args', value=v.ssh_extra_args) -}}
{{ print_value('sshpass_prompt', value=v.sshpass_prompt) -}}
{{ print_value('timeout', value=v.timeout) -}}
{{ print_value('transfer_method', value=v.transfer_method) -}}
{{ print_value('usetty', value=v.usetty) -}}
{% endif %}

{% if _config.winrm is defined and
      _config.winrm | count > 0 %}
  {% set v = _config.winrm %}
[winrm]
{{ print_value('kinit_env_vars', value=v.kinit_env_vars) -}}
{% endif %}

{% if _config.inventory_plugins is defined and
      _config.inventory_plugins | count > 0 %}
  {% set v = _config.inventory_plugins %}
[inventory_plugins]
{{ print_value('use_extra_vars', value=v.use_extra_vars) -}}
{% endif %}

{% if _config.inventory_plugin_script is defined and
      _config.inventory_plugin_script | count > 0 %}
  {% set v = _config.inventory_plugin_script %}
[inventory_plugin_script]
{{ print_value('always_show_stderr', value=v.always_show_stderr) -}}
{% endif %}

{% if _config.inventory_plugin_yaml is defined and
      _config.inventory_plugin_yaml | count > 0 %}
  {% set v = _config.inventory_plugin_yaml %}
[inventory_plugin_yaml]
{{ print_value('yaml_valid_extensions', value=v.yaml_valid_extensions, valid_values=[".yaml", ".yml", ".json"]) -}}
{% endif %}

{% if _config.url_lookup is defined and
      _config.url_lookup | count > 0 %}
  {% set v = _config.url_lookup %}
[url_lookup]
{{ print_value('ca_path', value=v.ca_path) -}}
{{ print_value('ciphers', value=v.ciphers) -}}
{{ print_value('follow_redirects', value=v.follow_redirects) -}}
{{ print_value('force', value=v.force) -}}
{{ print_value('agent', value=v.agent) -}}
{{ print_value('timeout', value=v.timeout) -}}
{{ print_value('unix_socket', value=v.unix_socket) -}}
{{ print_value('unredirected_headers', value=v.unredirected_headers) -}}
{{ print_value('use_gssapi', value=v.use_gssapi) -}}
{{ print_value('use_netrc', value=v.use_netrc) -}}
{% endif %}

{% if _config.powershell is defined and
      _config.powershell | count > 0 %}
  {% set v = _config.powershell %}
[powershell]
{{ print_value('async_dir', value=v.async_dir) -}}
{{ print_value('remote_tmp', value=v.remote_tmp) -}}
{% endif %}

{% if _config.vars_host_group_vars is defined and
      _config.vars_host_group_vars | count > 0 %}
  {% set v = _config.vars_host_group_vars %}
[vars_host_group_vars]
{{ print_value('stage', value=v.stage) -}}
{% endif %}
